* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  z-index: -50;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url("../img/background/city.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url("../img/background/city.jpg");
  background-position: center 0;
  background-size: 150%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#svg_bg_1 {
  position: absolute;
  z-index: -48;
  top: 0;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: radial-gradient(70% 60%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.nav_wrapper .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vh;
}

.nav_wrapper .row-2 {
  display: none;
}

.why_us_section {
  margin-top: 30vw;
  position: relative;
}

.why_us_section .table {
  display: block;
  position: inherit;
  text-align: center;
  margin: 0 auto;
  color: #393838;
  width: 50vw;
  max-width: 350px;
  border-radius: .3rem;
  background-color: #ffc02d;
}

.why_us_section .table .icon {
  padding-top: 1rem;
  width: 40%;
}

.why_us_section .table .title {
  margin-top: 0;
  font-family: 'medium';
  font-size: 15px;
}

.why_us_section .table .content {
  font-family: 'light';
  font-size: 13px;
  padding: 0 .5rem;
  padding-bottom: 30%;
}

.why_us_section .table .table_button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1rem;
  width: 8rem;
  height: 2rem;
}

.br_line {
  display: block;
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
  z-index: 2;
}

.our_services_section {
  background-color: white;
  padding-bottom: 1rem;
  overflow: hidden;
}

.our_services_section .our_services_title {
  color: #393838;
  font-family: 'medium';
  text-align: center;
}

.our_services_section .services_grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-bottom: 1rem;
}

.our_services_section .services_grid .table {
  display: block;
  position: inherit;
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 60vw;
  max-width: 350px;
  margin-bottom: 2rem;
  border-radius: .3rem;
  background-color: #4b744a;
}

.our_services_section .services_grid .table .icon {
  padding-top: 1rem;
  width: 40%;
}

.our_services_section .services_grid .table .title {
  margin-top: 0;
  font-family: 'medium';
  font-size: 15px;
}

.our_services_section .services_grid .table .content {
  font-family: 'light';
  font-size: 13px;
  padding: 0 .5rem;
  padding-bottom: 30%;
}

.our_services_section .services_grid .table .table_button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFC02D;
  left: 0;
  right: 0;
  bottom: 1rem;
  width: 8rem;
  height: 2rem;
}

.a3tmad_section {
  padding: 1rem 0;
  position: relative;
  background-color: #393838;
  color: white;
  font-family: 'medium';
}

.a3tmad_section .row {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a3tmad_section .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a3tmad_section .col img {
  width: 6rem;
  padding-bottom: .5rem;
}

.a3tmad_section .col h3 {
  margin: 0;
  padding: .2rem 0;
}

.a3tmad_section .col-1 {
  padding-right: 2rem;
}

.a3tmad_section .col-2 {
  padding-left: 2rem;
}

.google_map_section {
  width: 100%;
  height: 20rem;
  background-color: white;
}

.google_map_section .time {
  margin: 0;
  padding: 1rem 0;
  font-family: 'medium';
  color: #393838;
  text-align: center;
}

.copy_right_section {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #03240B;
  font-family: 'light';
  font-size: 14px;
  z-index: 2;
}

.fixed_section {
  position: fixed;
  bottom: 1.5rem;
  width: 100%;
}

.fixed_section .call_us {
  display: block;
  width: 5rem;
  margin-left: auto;
  margin-right: 1rem;
  text-align: center;
}

.fixed_section .call_us img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */