{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مكتب المستشار عبدالمحسن للاستشارات الهندسية</title>
    <link rel="stylesheet" href="{% static 'start_page/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'start_page/css/phone.css' %}">
    <link rel="stylesheet" href="{% static 'start_page/css/xphone.css' %}">
    <link rel="stylesheet" href="{% static 'start_page/css/destrab.css' %}">
</head>
<header class="nav_wrapper">
    <dev class="row-1">
        <img class="logo" src="{% static 'start_page/img/background/nav-logo-banner-two-lines.svg' %}">
    </dev>
    <dev class="row-2">

    </dev>
</header>

<body>
    <svg id="svg_bg_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 900"><defs><style>.a{fill:#fff;fill-rule:evenodd;}</style></defs><path class="a" d="M500,294.526c.361-.264-136.923,26.09-171.809-32.664-36.431-61.358-121.377-2.815-199.714-79.07-20.446-19.9-30.224-53.336-42.182-63.236C51.8,90.99,40.876,101.845,35.5,53.84,15.7-5.676,0,.157,0,.157V900H500V400Z" transform="translate(0 0)"/></svg>

    <section class="why_us">
        <dev class="table">
            <img class="icon" src="{% static 'start_page/img/logo.svg' %}" alt="logo">
            <h1 class="title">لماذا مكتب المستشار عبدالمحسن؟</h1>
            <h2 class="content">نقدم حلول متميزة بنائا على خبرات
                سابقة في اكبر شركات العالم</h2>
            <button class="button table_button">من نحن؟</button>
        </dev>
    </section>
    
    <span ></span>
    <img class="br_line" src="{% static 'start_page/img/br_line.svg' %}">

    <section class="our_services">
        <h2 class=our_services_title>خدماتنا</h2>
    </section>
</body>

</html>